@{
    ViewBag.Title = "Home Page";
}
<div class="sec-intro">

    <div class="row">
        <div class="col-xs-2">
            <img src="http://placehold.it/200x200"  alt="" class="img-thumbnail" />

        </div>
        <div class="col-xs-10">
            
                <h1 class="title text-white">When Result Matter... </h1>
                <p class="lead text-white">Choose or Educated, Experinced, and Motivated Web and Mobile Developer</p>

            <p class="lead">

                <a href="" class="text-white">How do You Know?</a>
            </p>
        </div>
    </div>
</div>
<div class="sec-list clearfix">
    <ul class="list-unstyled display-inline">
        <li class="col-xs-12 col-lg-3 col-md-3 col-sm-3 ">
            <div class="item">
                <div class=" text-center caption" >
                    <h3 class="text-white"><strong>13,133</strong></h3>

                  
                </div>
                <h4 class="text-center">
                    <strong>Hours Working on oDesk</strong>
                </h4>

            </div>
           
        </li>
        <li class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <div class="item">
                <div class=" text-center caption">
                    <h3 class="text-white"><strong>86 </strong><small class="text-white"><i class="glyphicon glyphicon-plus"></i></small></h3>


                </div>
                <h4 class="text-center">
                    <strong>Years of Combined Experince</strong>
                </h4>

            </div>
        </li>
        <li class="col-xs-12 col-lg-3 col-md-3 col-sm-3">
            <div class="item">
                <div class=" text-center caption">
                    <h3 class="text-white"><strong>16 </strong></h3>


                </div>
                <h4 class="text-center">
                    <strong>Agency Contrators</strong>
                </h4>

            </div>
        </li>
        <li class="col-xs-12 col-lg-3 col-md-3 col-sm-3 ">
            <div class="item">
                <div class=" text-center caption">
                    <h3 class="text-white"><strong>27 </strong><small class="text-white"><i class="glyphicon glyphicon-plus"></i></small></h3>


                </div>
                <h4 class="text-center">
                    <strong>Total Number of Skills</strong>
                </h4>

            </div>
        </li>
    </ul>
</div>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>*@

